DSD_Mobipay/Service References/MonederoService/MonederosService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://mobipayservice.apphb.com/MonederosService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DSD.BusinessEntity" />
  <xs:element name="Recargar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DSD.BusinessEntity" minOccurs="0" name="recarga" nillable="true" type="q1:RecargaBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecargarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DSD.BusinessEntity" minOccurs="0" name="RecargarResult" nillable="true" type="q2:MovimientoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Extornar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DSD.BusinessEntity" minOccurs="0" name="extorno" nillable="true" type="q3:ExtornoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExtornarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DSD.BusinessEntity" minOccurs="0" name="ExtornarResult" nillable="true" type="q4:MovimientoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Pagar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DSD.BusinessEntity" minOccurs="0" name="pago" nillable="true" type="q5:PagoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PagarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DSD.BusinessEntity" minOccurs="0" name="PagarResult" nillable="true" type="q6:MovimientoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Saldo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DSD.BusinessEntity" minOccurs="0" name="saldo" nillable="true" type="q7:SaldoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaldoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DSD.BusinessEntity" minOccurs="0" name="SaldoResult" nillable="true" type="q8:MovimientoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>