DSD_Mobipay/Service References/MonederoService/MonederosService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DSD.BusinessEntity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DSD.BusinessEntity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RecargaBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Monto" type="xs:decimal" />
      <xs:element minOccurs="0" name="OperacionBanco" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecargaBE" nillable="true" type="tns:RecargaBE" />
  <xs:complexType name="MovimientoBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Monto" type="xs:decimal" />
      <xs:element minOccurs="0" name="Operacion" type="xs:int" />
      <xs:element minOccurs="0" name="OperacionBanco" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MovimientoBE" nillable="true" type="tns:MovimientoBE" />
  <xs:complexType name="ExtornoBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Monto" type="xs:decimal" />
      <xs:element minOccurs="0" name="OperacionBanco" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperacionBancoExtorno" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExtornoBE" nillable="true" type="tns:ExtornoBE" />
  <xs:complexType name="PagoBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Monto" type="xs:decimal" />
      <xs:element minOccurs="0" name="OperacionBanco" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagoBE" nillable="true" type="tns:PagoBE" />
  <xs:complexType name="SaldoBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoCliente" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SaldoBE" nillable="true" type="tns:SaldoBE" />
</xs:schema>